bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
/.DS_Store
/UnfathomableMirage.sln.DotSettings.user
/UnfathomableMirage/.config/
/UnfathomableMirage/.vscode/
/UnfathomableMirage/.DS_Store

.vs/ProjectEvaluation/unfathomablemirage.metadata.v10.bin

.vs/ProjectEvaluation/unfathomablemirage.projects.v10.bin

.vs/ProjectEvaluation/unfathomablemirage.strings.v10.bin

.vs/UnfathomableMirage.slnx/DesignTimeBuild/.dtbcache.v2

.vs/UnfathomableMirage.slnx/FileContentIndex/2a8a5878-1960-48fb-987e-600a0cc041b8.vsidx

.vs/UnfathomableMirage.slnx/FileContentIndex/47644dd1-d675-4a57-a74c-26c7741d6616.vsidx

.vs/UnfathomableMirage.slnx/v18/.futdcache.v2

.vs/UnfathomableMirage.slnx/v18/.suo

.vs/UnfathomableMirage.slnx/v18/DocumentLayout.json
